<form action="/recipes" method="POST">
  <div>
    <label for="title">title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="veggie">veggie:</label>
    <span>yes</span><input type="radio" name="veggie" value="true" checked>
    <span>no</span><input type="radio" name="veggie" value="false">
  </div>
  <div>
    <input type="submit" value="Add a New Recipe">
  </div>
</form>